---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Introduction from "../components/introduction.astro";
import Technologies from "../components/Technologies.astro";
import Performance from "../components/Performance.astro";
import AiSection from "../components/AiSection.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="TSTECH - Trámites y servicios tecnológicos">
  <main class="font-sans">
    <Header />
    <Introduction />
    <Technologies />
    <Performance />
    <AiSection />
  </main>
  <Footer />
</Layout>
