---

---

<section
  class="relative mx-auto mt-20 max-w-7xl px-4 text-center sm:mt-32 sm:px-6 md:mt-40 md:px-8"
>
  <article class="flex flex-col items-center justify-center">
    <figure class="relative flex items-center justify-center">
      <div
        class="ai-bg absolute left-1/2 top-1/2 -z-10 h-full w-full rounded-full opacity-50 blur-3xl"
      >
      </div>
      <img
        src="/assets/images/ai.webp"
        alt="AI Image"
        width="768"
        height="768"
        loading="lazy"
      />
    </figure>

    <h2
      class="mt-8 max-w-2xl text-center text-4xl font-extrabold tracking-tight text-slate-700 dark:text-slate-50 sm:text-5xl lg:text-6xl"
    >
      <span class="text-gradient">Inteligencia artificial</span>
       en nuestros productos
    </h2>
    <p
      class="mx-auto mt-8 max-w-3xl pb-10 text-center text-lg text-slate-600 dark:text-slate-400"
    >
      En la confluencia de la innovación y la adaptabilidad, abrazamos el poder
      de la Inteligencia Artificial (IA). Reconocemos su potencial transformador
      y la hemos integrado como parte esencial de nuestras soluciones. Estamos
      comprometidos con la evolución y la anticipación, y con la IA, llevamos
      las capacidades de tu negocio al siguiente nivel.
    </p>
  </article>
</section>

<style>
  .text-gradient {
    background-image: linear-gradient(45deg, #c41bf2, #25a6e9 30%, #a87ffb 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .ai-bg {
    background: linear-gradient(133.61deg, #c41bf2 17.33%, #25a6e9 100.47%);
    transform: translate(-50%, -50%);
  }
</style>
