---

---

<section
  class="relative mx-auto max-w-7xl px-4 pt-20 sm:px-6 sm:pt-24 md:px-8 lg:pt-32"
>
  <h1
    class="text-center text-4xl font-extrabold tracking-tight text-slate-700 dark:text-slate-200 sm:text-5xl lg:text-6xl"
  >
    Desarrollo ágil de <span class="text-gradient">plataformas web</span> y
    software a la medida.
  </h1>
  <p
    class="mx-auto mt-8 max-w-3xl pb-10 text-center text-lg text-slate-600 dark:text-slate-400"
  >
    Una firma de tecnología especializada en el diseño de plataformas web y
    soluciones de software personalizadas. Combinamos innovación y eficiencia
    para transformar tus ideas en herramientas digitales potentes.
  </p>
  <div class="flex items-center justify-center sm:w-full">
    <!-- main Atropos container (required), add your custom class here -->
    <div class="atropos my-atropos w-full sm:w-8/12">
      <!-- scale container (required) -->
      <div class="atropos-scale">
        <!-- rotate container (required) -->
        <div class="atropos-rotate">
          <!-- inner container (required) -->
          <div class="atropos-inner">
            <!-- put your custom content here -->
            <div
              class="flex w-full rounded-xl bg-slate-800 shadow dark:bg-gray-800"
            >
              <div class="flex w-full flex-col">
                <div class="flex-none border-b border-slate-500/30">
                  <div class="flex h-8 items-center space-x-1.5 px-3">
                    <div class="h-2.5 w-2.5 rounded-full bg-red-500"></div>
                    <div class="h-2.5 w-2.5 rounded-full bg-yellow-500"></div>
                    <div class="h-2.5 w-2.5 rounded-full bg-green-500"></div>
                  </div>
                </div>
                <div class="flex flex-col pb-10 pl-4 pt-4 text-sm leading-6">
                  <div class="flex items-center">
                    <span class="pr-4">1</span>
                    <div class="mr-2 h-2 w-16 rounded bg-orange-500"></div>
                    <div class="h-2 w-20 rounded bg-slate-400"></div>
                  </div>
                  <div class="flex items-center">
                    <span class="pr-4">2</span>
                    <div class="mr-2 h-2 w-16 rounded bg-orange-500"></div>
                    <div class="h-2 w-24 rounded bg-slate-400"></div>
                  </div>
                  <div class="flex items-center">
                    <span class="pr-4">3</span>
                  </div>
                  <div class="flex items-center">
                    <span class="pr-4">4</span>
                    <div class="mr-2 h-2 w-20 rounded bg-yellow-500"></div>
                  </div>
                  <div class="flex items-center">
                    <span class="pr-4">5</span>
                    <div class="mr-2 h-2 w-16 rounded bg-orange-500"></div>
                    <div class="mr-2 h-2 w-12 rounded bg-orange-500"></div>
                    <div class="h-2 w-32 rounded bg-slate-400"></div>
                  </div>
                  <div class="flex items-center">
                    <span class="pr-8">6</span>
                    <div class="mr-2 h-2 w-12 rounded bg-orange-500"></div>
                    <div class="mr-2 h-2 w-12 rounded bg-orange-500"></div>
                    <div class="mr-2 h-2 w-24 rounded bg-rose-500"></div>
                  </div>
                  <div class="flex items-center">
                    <span class="pr-8">7</span>
                    <div class="mr-2 h-2 w-12 rounded bg-yellow-500"></div>
                    <div class="mr-2 h-2 w-40 rounded bg-emerald-500"></div>
                  </div>
                  <div class="flex items-center">
                    <span class="pr-8">8</span>
                    <div class="mr-2 h-2 w-10 rounded bg-orange-500"></div>
                    <div class="mr-2 h-2 w-20 rounded bg-gray-400"></div>
                    <div class="mr-2 h-2 w-32 rounded bg-sky-500"></div>
                  </div>
                  <div class="flex items-center">
                    <span class="pr-12">9</span>
                    <div class="mr-2 h-2 w-10 rounded bg-slate-400"></div>
                    <div class="mr-2 h-2 w-12 rounded bg-slate-400"></div>
                    <div class="mr-2 h-2 w-28 rounded bg-purple-500"></div>
                    <div class="mr-2 h-2 w-10 rounded bg-slate-400"></div>
                  </div>
                  <div class="flex items-center">
                    <span class="pr-11">10</span>
                    <div class="mr-2 h-2 w-12 rounded bg-purple-500"></div>
                    <div class="mr-2 h-2 w-16 rounded bg-slate-400"></div>
                    <div class="mr-2 h-2 w-32 rounded bg-emerald-500"></div>
                  </div>
                  <div class="flex items-center">
                    <span class="pr-8">11</span>
                    <div class="mr-2 h-2 w-10 rounded bg-orange-500"></div>
                    <div class="mr-2 h-2 w-20 rounded bg-gray-400"></div>
                    <div class="mr-2 h-2 w-10 rounded bg-orange-500"></div>
                    <div class="mr-2 h-2 w-12 rounded bg-gray-400"></div>
                    <div class="mr-2 h-2 w-10 rounded bg-rose-500"></div>
                  </div>
                  <div class="flex items-center">
                    <span class="pr-4">12</span>
                    <p
                      class="hidden animate-pulse rounded text-yellow-300 sm:block"
                    >
                      //TODO: ¡Hacer las plataformas web con mejor rendimiento
                      en el mercado!
                    </p>
                    <p
                      class="block animate-pulse rounded text-yellow-300 sm:hidden"
                    >
                      //TODO: ¡Plataformas web full responsive!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .text-gradient {
    background-image: linear-gradient(
      45deg,
      rgb(14, 165, 233),
      rgb(59, 130, 246) 30%,
      white 60%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>

<script>
  import "atropos/css";
  import Atropos from "atropos";

  // Initialize
  const myAtropos = Atropos({
    el: ".my-atropos",
    // rest of parameters
  });
</script>
