---

---

<section
  class="relative mx-auto mt-20 max-w-7xl px-4 text-center sm:mt-32 sm:px-6 md:mt-40 md:px-8"
>
  <div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
    <article class="flex flex-col justify-center">
      <h2
        class="mt-4 text-left text-3xl font-extrabold tracking-tight text-slate-700 dark:text-slate-50 sm:text-5xl"
      >
        Uso de <span class="text-gradient">lenguajes y frameworks</span> más
        populares
      </h2>
      <p
        class="max-w-lgspace-y-6 mt-8 text-left text-lg text-slate-600 dark:text-slate-400"
      >
        Creemos en la eficacia y la eficiencia. Por eso, nos apoyamos en los
        frameworks y lenguajes de programación más populares y confiables del
        mercado. Esta elección nos permite garantizar soluciones robustas,
        escalables y en sintonía con las tendencias tecnológicas actuales. Asi,
        nos aseguramos de que tu proyecto esté listo para enfrentar los desafíos
        del presente y del futuro.
      </p>
    </article>
    <div
      class="animated-border dark:animated-border-dark mt-8 grid w-full grid-cols-2 place-content-center place-items-center gap-10 rounded border border-slate-200 p-8 dark:border-gray-600"
    >
      <!--Python-->
      <svg
        class="dark:hover:fill-white"
        width="110"
        height="32"
        viewBox="0 0 110 32"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
      >
        <path
          d="M41.4013 15.6247C41.4013 12.2451 40.4377 10.5101 38.5102 10.4152C37.7432 10.379 36.9948 10.501 36.2663 10.784C35.685 10.9919 35.2936 11.198 35.0877 11.4062V19.4729C36.3206 20.2467 37.4153 20.6064 38.3701 20.5497C40.3899 20.4159 41.4013 18.776 41.4013 15.6247ZM43.7787 15.7649C43.7787 17.4819 43.3762 18.9071 42.5661 20.0403C41.6636 21.3231 40.4126 21.9835 38.8134 22.0197C37.6077 22.058 36.3656 21.6804 35.0875 20.8886V28.2202L33.0199 27.4827V11.2091C33.3592 10.793 33.796 10.4356 34.3252 10.1323C35.5559 9.41513 37.0509 9.04659 38.811 9.02848L38.8403 9.05772C40.4489 9.03753 41.6882 9.69803 42.5592 11.0371C43.3715 12.2656 43.7787 13.84 43.7787 15.7649ZM56.415 20.5766C56.415 22.8796 56.1843 24.4742 55.7228 25.361C55.2591 26.2475 54.3768 26.9557 53.0739 27.4829C52.0174 27.8991 50.8749 28.1254 49.649 28.1639L49.3073 26.861C50.5538 26.6916 51.4314 26.5217 51.9404 26.3521C52.9426 26.0128 53.6302 25.4927 54.0081 24.7957C54.3111 24.228 54.4603 23.1444 54.4603 21.5408V21.0023C53.0465 21.645 51.5649 21.9638 50.0155 21.9638C48.9974 21.9638 48.0995 21.645 47.3257 21.0023C46.457 20.3032 46.0228 19.4167 46.0228 18.3421V9.73656L48.0904 9.02848V17.69C48.0904 18.6151 48.3889 19.3279 48.986 19.8277C49.5831 20.3276 50.3569 20.5676 51.3047 20.5493C52.2525 20.5288 53.2681 20.1624 54.3471 19.4453V9.3404H56.4147L56.415 20.5766ZM64.486 21.9067C64.2596 21.9258 64.0324 21.9356 63.8052 21.936C62.6357 21.936 61.7238 21.6579 61.0726 21.0991C60.4232 20.5404 60.0977 19.7692 60.0977 18.785V10.6412H58.6814V9.34063H60.0977V5.88632L62.1629 5.15109V9.34063H64.486V10.6412H62.1629V18.7284C62.1629 19.5044 62.3708 20.054 62.787 20.3754C63.1444 20.64 63.7123 20.7915 64.4858 20.83V21.9067H64.486ZM77.0049 21.737H74.9372V13.7562C74.9372 12.9442 74.7474 12.2451 74.3696 11.6617C73.933 11.0009 73.3268 10.6707 72.5483 10.6707C71.6006 10.6707 70.4153 11.1706 68.9924 12.1704V21.737H66.9251V2.66061L68.9924 2.00916V10.6979C70.3134 9.73633 71.7567 9.25452 73.3244 9.25452C74.4195 9.25452 75.306 9.6233 75.9848 10.3585C76.6658 11.0935 77.0051 12.0098 77.0051 13.1048L77.0049 21.737ZM87.9941 15.2991C87.9941 14.0006 87.7477 12.9284 87.2566 12.0801C86.6729 11.0464 85.7659 10.501 84.5398 10.4446C82.2731 10.5758 81.1419 12.1999 81.1419 15.3128C81.1419 16.7401 81.3772 17.9323 81.8523 18.8891C82.4585 20.1085 83.3681 20.7104 84.5806 20.6899C86.8563 20.6715 87.9941 18.8755 87.9941 15.2991ZM90.2586 15.3126C90.2586 17.1609 89.7858 18.6992 88.8424 19.9273C87.8038 21.3028 86.37 21.9926 84.5398 21.9926C82.7256 21.9926 81.3118 21.3026 80.2916 19.9273C79.3662 18.6992 78.9046 17.1609 78.9046 15.3126C78.9046 13.5754 79.4045 12.114 80.4045 10.9241C81.4611 9.66183 82.8498 9.02848 84.567 9.02848C86.2837 9.02848 87.6818 9.66183 88.7586 10.9241C89.7587 12.114 90.2586 13.5754 90.2586 15.3126ZM102.112 21.737H100.044V13.3039C100.044 12.3788 99.7662 11.657 99.2098 11.1367C98.6532 10.6187 97.911 10.3676 96.986 10.3878C96.0044 10.4059 95.0698 10.7271 94.1833 11.3493V21.737H92.1157V11.0938C93.3055 10.2276 94.4005 9.66183 95.4004 9.39725C96.3435 9.15079 97.1759 9.02848 97.8932 9.02848C98.3837 9.02848 98.8456 9.07582 99.2798 9.17098C100.092 9.35874 100.753 9.70709 101.261 10.2184C101.829 10.784 102.112 11.4623 102.112 12.2565V21.737Z"
        ></path>
        <path
          d="M12.599 2.73704C11.5351 2.74192 10.5193 2.83266 9.62558 2.99094C6.99237 3.45626 6.51429 4.42985 6.51429 6.2257V8.59735H12.7369V9.38783H4.17885C2.37047 9.38783 0.786734 10.4749 0.291471 12.5427C-0.279915 14.913 -0.305212 16.392 0.291471 18.867C0.73382 20.7093 1.79026 22.0219 3.59865 22.0219H5.73821V19.1789C5.73821 17.1249 7.51526 15.3133 9.62558 15.3133H15.8409C17.5712 15.3133 18.9523 13.8888 18.9523 12.1512V6.22547C18.9523 4.53916 17.5296 3.27222 15.8409 2.99071C14.7718 2.81293 13.6629 2.73194 12.599 2.73704ZM9.23382 4.6443C9.87669 4.6443 10.4014 5.17785 10.4014 5.83371C10.4014 6.48726 9.87646 7.01594 9.23382 7.01594C8.58888 7.01594 8.06622 6.4875 8.06622 5.83371C8.06622 5.17785 8.58888 4.6443 9.23382 4.6443Z"
        ></path>
        <path
          d="M19.7284 9.38757V12.1508C19.7284 14.293 17.9121 16.0961 15.8409 16.0961H9.62558C7.92302 16.0961 6.51428 17.5532 6.51428 19.2583V25.1836C6.51428 26.8701 7.98058 27.862 9.62558 28.3456C11.5953 28.9249 13.4842 29.0296 15.8409 28.3456C17.4075 27.8922 18.9523 26.9791 18.9523 25.1836V22.8121H12.7369V22.0217H22.0635C23.8722 22.0217 24.5459 20.76 25.1749 18.8667C25.8247 16.9177 25.7971 15.0429 25.1749 12.5425C24.7279 10.7422 23.8743 9.38757 22.0635 9.38757H19.7284ZM16.2325 24.3931C16.8774 24.3931 17.4001 24.9215 17.4001 25.5753C17.4001 26.2312 16.8774 26.7647 16.2325 26.7647C15.5896 26.7647 15.0649 26.2312 15.0649 25.5753C15.0649 24.9217 15.5898 24.3931 16.2325 24.3931Z"
        ></path>
        <path
          d="M106.138 7.49718H106.501V5.22371H107.359V4.95264H105.279V5.22371H106.138L106.138 7.49718ZM107.68 7.49718H107.991V5.42074L108.663 7.49695H109.007L109.708 5.42771V7.49718H110.046V4.95286H109.599L108.834 7.13281L108.181 4.95286H107.68V7.49718Z"
        ></path>
      </svg>
      <!--Java-->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="110px"
        height="72px"
        viewBox="0 0 109 72"
        version="1.1"
        fill="currentColor"
        class="dark:hover:fill-white"
      >
        <g id="surface1">
          <path
            style=" stroke:none;fill-rule:evenodd;fill-opacity:1;"
            d="M 92.613281 49.917969 L 92.613281 46.621094 L 91.414062 46.621094 C 88.722656 46.621094 87.378906 47.457031 87.378906 49.132812 C 87.378906 50.585938 88.089844 51.3125 89.519531 51.3125 C 90.503906 51.3125 91.535156 50.847656 92.613281 49.917969 Z M 95.453125 53.128906 L 93.222656 53.128906 L 93 51.621094 C 91.628906 52.8125 90.199219 53.40625 88.714844 53.40625 C 85.929688 53.40625 84.535156 52.121094 84.535156 49.554688 C 84.535156 48.082031 85.101562 46.9375 86.234375 46.121094 C 87.460938 45.242188 89.25 44.808594 91.609375 44.808594 L 92.613281 44.808594 L 92.613281 43.546875 C 92.613281 41.890625 91.65625 41.0625 89.742188 41.0625 C 88.5 41.0625 87.144531 41.335938 85.675781 41.875 L 85.261719 40.113281 C 86.984375 39.351562 88.742188 38.96875 90.523438 38.96875 C 93.808594 38.96875 95.453125 40.375 95.453125 43.1875 Z M 83.699219 39.222656 C 82.792969 44.359375 81.363281 48.996094 79.414062 53.128906 L 75.875 53.128906 L 71.617188 39.222656 L 74.707031 39.222656 L 77.351562 47.765625 L 77.9375 50.335938 C 79.308594 46.539062 80.230469 42.832031 80.695312 39.222656 Z M 66.9375 49.917969 L 66.9375 46.621094 L 65.738281 46.621094 C 63.046875 46.621094 61.703125 47.457031 61.703125 49.132812 C 61.703125 50.585938 62.417969 51.3125 63.847656 51.3125 C 64.832031 51.3125 65.859375 50.847656 66.9375 49.917969 Z M 69.777344 53.128906 L 67.550781 53.128906 L 67.328125 51.621094 C 65.953125 52.8125 64.523438 53.40625 63.039062 53.40625 C 60.253906 53.40625 58.863281 52.121094 58.863281 49.554688 C 58.863281 48.082031 59.425781 46.9375 60.558594 46.121094 C 61.785156 45.242188 63.578125 44.808594 65.933594 44.808594 L 66.9375 44.808594 L 66.9375 43.546875 C 66.9375 41.890625 65.980469 41.0625 64.070312 41.0625 C 62.824219 41.0625 61.46875 41.335938 60.003906 41.875 L 59.585938 40.113281 C 61.3125 39.351562 63.066406 38.96875 64.847656 38.96875 C 68.136719 38.96875 69.777344 40.375 69.777344 43.1875 Z M 56.269531 51.171875 C 56.269531 54.207031 55.25 56.488281 53.207031 58.015625 L 51.730469 56.757812 C 52.382812 55.996094 52.816406 55.082031 53.039062 54.019531 C 53.191406 53.296875 53.265625 52.289062 53.265625 51.007812 L 53.265625 34.277344 L 56.269531 34.277344 Z M 97.445312 41.558594 L 97.941406 41.558594 L 97.941406 39.640625 L 98.59375 39.640625 L 98.59375 39.25 L 96.765625 39.25 L 96.765625 39.640625 L 97.445312 39.640625 Z M 101.238281 41.558594 L 101.707031 41.558594 L 101.707031 39.25 L 101 39.25 L 100.421875 40.824219 L 99.796875 39.25 L 99.117188 39.25 L 99.117188 41.558594 L 99.558594 41.558594 L 99.558594 39.800781 L 99.585938 39.800781 L 100.242188 41.558594 L 100.582031 41.558594 L 101.238281 39.800781 L 101.238281 41.558594 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 35.9375 44.519531 C 34.84375 44.828125 32.382812 45.335938 28.863281 45.335938 C 25.410156 45.335938 22.589844 44.742188 22.578125 44.042969 C 22.574219 43.578125 23.132812 43.375 23.132812 43.375 L 23.035156 43.320312 C 21.378906 43.613281 19.84375 44.066406 19.851562 44.742188 C 19.867188 45.972656 24.5625 46.898438 28.855469 46.898438 C 32.507812 46.898438 36.015625 46.285156 37.597656 45.480469 Z M 24.265625 48.324219 C 23.5 48.476562 21.828125 48.863281 21.828125 49.675781 C 21.828125 50.804688 25.402344 51.671875 28.855469 51.671875 C 33.605469 51.671875 35.550781 50.445312 35.640625 50.382812 L 33.664062 49.234375 C 32.824219 49.4375 31.410156 49.753906 28.859375 49.753906 C 26.015625 49.753906 24.164062 49.261719 24.164062 48.730469 C 24.164062 48.613281 24.234375 48.480469 24.367188 48.382812 Z M 43.679688 40.726562 C 43.546875 43.285156 41.191406 44.875 38.835938 46.222656 L 39.050781 46.34375 C 41.5625 45.636719 46.042969 43.570312 45.671875 40.398438 C 45.488281 38.816406 44.046875 37.6875 42.167969 37.6875 C 41.582031 37.6875 41.0625 37.789062 40.636719 37.917969 L 40.636719 37.921875 L 40.546875 38.148438 C 42.230469 37.820312 43.765625 39.050781 43.679688 40.726562 Z M 28.789062 55.730469 C 35.398438 55.671875 42.792969 54.375 42.773438 52.195312 C 42.769531 51.800781 42.515625 51.53125 42.292969 51.367188 L 42.183594 51.429688 C 41.570312 53.117188 36.410156 54.367188 28.78125 54.433594 C 23.855469 54.476562 17.039062 53.292969 17.027344 51.925781 C 17.015625 50.554688 20.257812 49.804688 20.257812 49.804688 L 20.027344 49.671875 C 17.855469 49.972656 13.851562 51.015625 13.867188 52.523438 C 13.882812 54.699219 23.085938 55.78125 28.789062 55.730469 Z M 28.105469 57.289062 C 25.476562 57.3125 22.269531 57.09375 19.570312 56.636719 L 19.320312 56.78125 C 22.007812 57.574219 25.75 58.050781 29.863281 58.015625 C 37.9375 57.941406 44.484375 55.933594 44.613281 53.519531 L 44.519531 53.464844 C 43.976562 54.125 40.484375 57.179688 28.105469 57.289062 Z M 17.988281 40.144531 C 17.988281 38.921875 22.609375 38.238281 24.757812 38.070312 L 24.964844 38.191406 C 24.136719 38.339844 20.824219 38.925781 20.824219 39.691406 C 20.824219 40.523438 25.90625 41.070312 28.859375 41.070312 C 33.871094 41.070312 37.28125 40.308594 38.199219 40.058594 L 39.480469 40.808594 C 38.601562 41.238281 34.832031 42.367188 28.859375 42.367188 C 22.222656 42.367188 17.988281 41.066406 17.988281 40.144531 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 38.042969 23.070312 L 37.933594 23.007812 C 35.914062 23.6875 29.703125 26.144531 29.703125 30.730469 C 29.703125 33.324219 32.226562 34.761719 32.226562 37.191406 C 32.226562 38.058594 31.738281 38.875 31.339844 39.359375 L 31.539062 39.476562 C 32.589844 38.789062 34.453125 37.308594 34.453125 35.390625 C 34.453125 33.769531 32.214844 31.820312 32.214844 29.734375 C 32.214844 26.449219 36.535156 23.871094 38.042969 23.070312 Z M 34.996094 17.0625 C 34.996094 23.847656 25.71875 26.445312 25.71875 31.269531 C 25.71875 34.65625 27.960938 36.78125 29.199219 38.125 L 29.097656 38.183594 C 27.535156 37.203125 23.417969 34.734375 23.417969 30.660156 C 23.417969 24.941406 34.070312 22.207031 34.070312 15.710938 C 34.070312 14.910156 33.953125 14.300781 33.871094 13.96875 L 33.976562 13.90625 C 34.316406 14.332031 34.996094 15.394531 34.996094 17.0625 "
          ></path>
        </g>
      </svg>
      <!--Spring boot-->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="110px"
        height="28px"
        viewBox="0 0 109 28"
        version="1.1"
        fill="currentColor"
        class="dark:hover:fill-white"
      >
        <g id="surface1">
          <path
            style=" stroke:none;fill-rule:nonzero;fill:currentColor;fill-opacity:1;"
            d="M 25.621094 1.644531 C 25.246094 2.566406 24.730469 3.460938 24.125 4.269531 C 18.765625 -1.296875 9.921875 -1.441406 4.390625 3.921875 C -1.140625 9.285156 -1.3125 18.136719 4.046875 23.675781 C 4.21875 23.875 4.421875 24.050781 4.621094 24.222656 L 5.140625 24.683594 C 11.015625 29.644531 19.832031 28.894531 24.785156 23.011719 C 26.6875 20.761719 27.839844 17.9375 28.042969 14.996094 C 28.445312 11.503906 27.378906 7.007812 25.621094 1.644531 Z M 6.636719 24.367188 C 6.234375 24.886719 5.484375 24.941406 4.96875 24.539062 C 4.449219 24.136719 4.390625 23.386719 4.792969 22.867188 C 5.199219 22.347656 5.945312 22.289062 6.464844 22.695312 C 6.957031 23.097656 7.042969 23.847656 6.636719 24.367188 Z M 25.535156 20.183594 C 22.105469 24.769531 14.734375 23.214844 10.039062 23.445312 C 10.039062 23.445312 9.203125 23.5 8.367188 23.617188 C 8.367188 23.617188 8.683594 23.472656 9.085938 23.328125 C 12.398438 22.175781 13.957031 21.945312 15.972656 20.90625 C 19.746094 18.972656 23.519531 14.734375 24.269531 10.351562 C 22.828125 14.5625 18.449219 18.195312 14.472656 19.667969 C 11.738281 20.675781 6.8125 21.65625 6.8125 21.65625 L 6.609375 21.539062 C 3.269531 19.898438 3.152344 12.628906 9.257812 10.292969 C 11.9375 9.257812 14.472656 9.832031 17.382812 9.140625 C 20.464844 8.421875 24.039062 6.113281 25.476562 3.085938 C 27.089844 7.957031 29.050781 15.515625 25.535156 20.183594 Z M 25.535156 20.183594 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 35.964844 19.492188 C 35.589844 19.261719 35.359375 18.859375 35.386719 18.425781 C 35.386719 17.734375 35.933594 17.15625 36.625 17.15625 C 36.625 17.15625 36.625 17.15625 36.65625 17.15625 C 36.886719 17.15625 37.117188 17.214844 37.316406 17.332031 C 38.46875 18.136719 39.824219 18.570312 41.207031 18.628906 C 42.53125 18.628906 43.308594 18.050781 43.308594 17.15625 L 43.308594 17.101562 C 43.308594 16.03125 41.867188 15.6875 40.285156 15.195312 C 38.296875 14.621094 36.050781 13.8125 36.050781 11.21875 L 36.050781 11.160156 C 36.050781 8.59375 38.179688 7.035156 40.859375 7.035156 C 42.359375 7.066406 43.796875 7.441406 45.125 8.132812 C 45.585938 8.363281 45.871094 8.796875 45.871094 9.3125 C 45.871094 10.007812 45.296875 10.582031 44.605469 10.582031 L 44.578125 10.582031 C 44.375 10.582031 44.171875 10.523438 43.972656 10.4375 C 42.992188 9.890625 41.925781 9.574219 40.800781 9.515625 C 39.59375 9.515625 38.902344 10.09375 38.902344 10.84375 L 38.902344 10.898438 C 38.902344 11.910156 40.371094 12.3125 41.953125 12.832031 C 43.941406 13.4375 46.160156 14.359375 46.160156 16.78125 L 46.160156 16.839844 C 46.160156 19.695312 43.941406 21.109375 41.148438 21.109375 C 39.304688 21.078125 37.488281 20.53125 35.964844 19.492188 Z M 35.964844 19.492188 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 47.3125 8.621094 C 47.285156 7.785156 47.976562 7.09375 48.8125 7.066406 L 48.839844 7.066406 C 49.703125 7.066406 50.394531 7.757812 50.394531 8.621094 L 50.394531 9.542969 C 51.402344 8.132812 52.816406 7.007812 55.003906 7.007812 C 58.171875 7.007812 61.285156 9.515625 61.285156 14.042969 L 61.285156 14.101562 C 61.285156 18.597656 58.203125 21.136719 55.003906 21.136719 C 52.757812 21.136719 51.347656 20.011719 50.394531 18.742188 L 50.394531 23.53125 C 50.394531 24.394531 49.703125 25.085938 48.839844 25.085938 C 48.003906 25.085938 47.3125 24.394531 47.3125 23.558594 Z M 58.171875 14.101562 L 58.171875 14.042969 C 58.171875 11.417969 56.414062 9.71875 54.3125 9.71875 C 52.210938 9.71875 50.367188 11.476562 50.367188 14.042969 L 50.367188 14.101562 C 50.367188 16.695312 52.210938 18.425781 54.3125 18.425781 C 56.414062 18.425781 58.171875 16.78125 58.171875 14.101562 Z M 58.171875 14.101562 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 62.492188 8.621094 C 62.464844 7.785156 63.15625 7.09375 63.992188 7.066406 L 64.019531 7.066406 C 64.882812 7.066406 65.574219 7.757812 65.574219 8.621094 L 65.574219 9.371094 C 65.71875 8.21875 67.621094 7.066406 68.976562 7.066406 C 69.753906 7.007812 70.445312 7.582031 70.5 8.363281 C 70.5 8.449219 70.5 8.507812 70.5 8.59375 C 70.5 9.34375 69.984375 9.976562 69.261719 10.09375 C 67.046875 10.46875 65.546875 12.398438 65.546875 15.082031 L 65.546875 19.550781 C 65.546875 20.417969 64.855469 21.078125 63.992188 21.078125 C 63.15625 21.078125 62.464844 20.417969 62.464844 19.578125 C 62.464844 19.578125 62.464844 19.578125 62.464844 19.550781 Z M 62.492188 8.621094 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 71.742188 8.652344 C 71.710938 7.816406 72.402344 7.121094 73.238281 7.09375 L 73.265625 7.09375 C 74.132812 7.09375 74.824219 7.785156 74.824219 8.652344 L 74.824219 19.578125 C 74.824219 20.445312 74.132812 21.109375 73.265625 21.109375 C 72.402344 21.109375 71.742188 20.417969 71.742188 19.578125 Z M 71.742188 8.652344 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 76.40625 8.652344 C 76.378906 7.816406 77.070312 7.121094 77.90625 7.09375 L 77.933594 7.09375 C 78.796875 7.09375 79.488281 7.785156 79.488281 8.652344 L 79.488281 9.285156 C 80.410156 7.84375 82.023438 7.007812 83.722656 7.066406 C 86.777344 7.066406 88.535156 9.113281 88.535156 12.253906 L 88.535156 19.550781 C 88.5625 20.386719 87.902344 21.050781 87.066406 21.078125 C 87.035156 21.078125 87.035156 21.078125 87.007812 21.078125 C 86.171875 21.109375 85.480469 20.417969 85.453125 19.578125 L 85.453125 13.207031 C 85.453125 11.101562 84.414062 9.890625 82.542969 9.890625 C 80.757812 9.890625 79.488281 11.160156 79.488281 13.265625 L 79.488281 19.578125 C 79.488281 20.445312 78.796875 21.136719 77.933594 21.136719 C 77.070312 21.136719 76.378906 20.445312 76.378906 19.578125 Z M 76.40625 8.652344 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 102.1875 7.035156 C 101.324219 7.035156 100.632812 7.726562 100.632812 8.59375 L 100.632812 9.515625 C 99.625 8.101562 98.214844 6.976562 96.023438 6.976562 C 92.855469 6.976562 89.746094 9.488281 89.746094 14.015625 L 89.746094 14.070312 C 89.746094 18.570312 92.828125 21.109375 96.023438 21.109375 C 98.269531 21.109375 99.683594 19.984375 100.632812 18.742188 C 100.488281 21.195312 98.992188 22.464844 96.371094 22.464844 C 94.929688 22.464844 93.488281 22.117188 92.222656 21.398438 C 92.050781 21.308594 91.875 21.28125 91.675781 21.28125 C 90.953125 21.28125 90.378906 21.828125 90.347656 22.550781 C 90.347656 23.097656 90.695312 23.617188 91.214844 23.789062 C 92.855469 24.597656 94.640625 25 96.457031 25 C 98.90625 25 100.804688 24.425781 102.015625 23.183594 C 103.140625 22.058594 103.746094 20.359375 103.746094 18.082031 L 103.746094 8.621094 C 103.773438 7.757812 103.082031 7.066406 102.21875 7.035156 C 102.21875 7.035156 102.1875 7.035156 102.1875 7.035156 Z M 96.746094 18.425781 C 94.613281 18.425781 92.882812 16.753906 92.882812 14.070312 L 92.882812 14.015625 C 92.882812 11.390625 94.640625 9.6875 96.746094 9.6875 C 98.847656 9.6875 100.691406 11.449219 100.691406 14.015625 L 100.691406 14.070312 C 100.71875 16.667969 98.875 18.425781 96.746094 18.425781 Z M 96.746094 18.425781 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 74.851562 3.34375 C 74.851562 4.210938 74.160156 4.902344 73.296875 4.902344 C 72.433594 4.902344 71.742188 4.210938 71.742188 3.34375 C 71.742188 2.480469 72.433594 1.789062 73.296875 1.789062 C 74.132812 1.757812 74.824219 2.449219 74.851562 3.289062 C 74.851562 3.316406 74.851562 3.316406 74.851562 3.34375 Z M 74.851562 3.34375 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 107.289062 10.292969 C 106.421875 10.292969 105.703125 9.574219 105.703125 8.707031 C 105.703125 7.84375 106.421875 7.121094 107.289062 7.121094 C 108.152344 7.121094 108.871094 7.84375 108.871094 8.707031 C 108.871094 9.574219 108.152344 10.292969 107.289062 10.292969 Z M 107.289062 7.351562 C 106.539062 7.351562 105.933594 7.957031 105.933594 8.707031 C 105.933594 9.457031 106.539062 10.0625 107.289062 10.0625 C 108.035156 10.0625 108.640625 9.457031 108.640625 8.707031 C 108.640625 7.957031 108.066406 7.351562 107.316406 7.351562 Z M 107.71875 9.601562 L 107.257812 8.882812 L 106.941406 8.882812 L 106.941406 9.601562 L 106.683594 9.601562 L 106.683594 7.785156 L 107.429688 7.785156 C 107.75 7.757812 108.007812 8.015625 108.035156 8.332031 C 108.035156 8.59375 107.835938 8.824219 107.574219 8.882812 L 108.066406 9.601562 Z M 107.402344 8.015625 L 106.941406 8.015625 L 106.941406 8.652344 L 107.429688 8.652344 C 107.605469 8.652344 107.75 8.507812 107.75 8.332031 C 107.75 8.160156 107.605469 8.015625 107.402344 8.015625 Z M 107.402344 8.015625 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 24.785156 23.011719 C 26.6875 20.761719 27.839844 17.9375 28.042969 14.996094 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;"
            d="M 25.535156 20.183594 C 22.105469 24.769531 14.734375 23.214844 10.039062 23.445312 C 10.039062 23.445312 9.203125 23.5 8.367188 23.617188 C 8.367188 23.617188 8.683594 23.472656 9.085938 23.328125 C 12.398438 22.175781 13.957031 21.945312 15.972656 20.90625 C 19.746094 18.972656 23.519531 14.734375 24.269531 10.351562 C 22.828125 14.5625 18.449219 18.195312 14.472656 19.667969 C 11.738281 20.675781 6.8125 21.65625 6.8125 21.65625 L 6.609375 21.539062 C 3.269531 19.898438 3.152344 12.628906 9.257812 10.292969 C 11.9375 9.257812 14.472656 9.832031 17.382812 9.140625 C 20.464844 8.421875 24.039062 6.113281 25.476562 3.085938 C 27.089844 7.957031 29.050781 15.515625 25.535156 20.183594 Z M 25.535156 20.183594 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;"
            d="M 6.636719 24.367188 C 6.234375 24.886719 5.484375 24.941406 4.96875 24.539062 C 4.449219 24.136719 4.390625 23.386719 4.792969 22.867188 C 5.199219 22.347656 5.945312 22.289062 6.464844 22.695312 C 6.957031 23.097656 7.042969 23.847656 6.636719 24.367188 Z M 6.636719 24.367188 "
          ></path>
        </g>
      </svg>
      <!--Jakarta EE-->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="100px"
        height="30px"
        viewBox="0 0 100 30"
        version="1.1"
        fill="currentColor"
        class="dark:hover:fill-white"
      >
        <g id="surface1">
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 31.019531 23.789062 C 31.265625 24.140625 31.691406 24.410156 32.25 24.410156 C 32.949219 24.410156 33.847656 23.984375 33.847656 22.722656 L 33.847656 16.496094 L 35.246094 16.496094 L 35.246094 22.867188 C 35.246094 24.710938 33.78125 25.8125 32.289062 25.8125 C 31.222656 25.8125 30.40625 25.320312 29.886719 24.609375 Z M 31.019531 23.789062 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 41.828125 23.675781 L 38.324219 23.675781 L 37.613281 25.738281 L 36.132812 25.738281 L 39.492188 16.496094 L 40.660156 16.496094 L 44.023438 25.738281 L 42.542969 25.738281 Z M 41.425781 22.429688 L 40.089844 18.390625 L 40.0625 18.390625 L 38.726562 22.429688 Z M 41.425781 22.429688 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 45.011719 16.496094 L 46.410156 16.496094 L 46.410156 21.261719 L 46.4375 21.261719 L 50.238281 16.496094 L 51.902344 16.496094 L 48.941406 20.140625 L 52.210938 25.734375 L 50.550781 25.734375 L 48.03125 21.21875 L 46.410156 22.921875 L 46.410156 25.734375 L 45.007812 25.734375 L 45.007812 16.496094 Z M 45.011719 16.496094 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 57.925781 23.675781 L 54.421875 23.675781 L 53.707031 25.738281 L 52.226562 25.738281 L 55.589844 16.496094 L 56.757812 16.496094 L 60.117188 25.738281 L 58.636719 25.738281 Z M 57.523438 22.429688 L 56.1875 18.390625 L 56.160156 18.390625 L 54.824219 22.429688 Z M 57.523438 22.429688 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 61.105469 16.496094 L 64.710938 16.496094 C 65.488281 16.496094 66.101562 16.679688 66.59375 17.105469 C 67.113281 17.546875 67.515625 18.246094 67.515625 19.078125 C 67.515625 20.273438 66.84375 21.246094 65.726562 21.632812 L 67.867188 25.734375 L 66.207031 25.734375 L 64.296875 21.789062 L 62.507812 21.789062 L 62.507812 25.734375 L 61.105469 25.734375 Z M 62.507812 20.546875 L 64.621094 20.546875 C 65.675781 20.546875 66.191406 19.859375 66.191406 19.078125 C 66.191406 18.601562 66.011719 18.234375 65.722656 18.027344 C 65.464844 17.835938 65.179688 17.742188 64.699219 17.742188 L 62.503906 17.742188 L 62.503906 20.546875 Z M 62.507812 20.546875 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 70.359375 17.742188 L 67.828125 17.742188 L 67.828125 16.496094 L 74.292969 16.496094 L 74.292969 17.742188 L 71.765625 17.742188 L 71.765625 25.734375 L 70.363281 25.734375 L 70.363281 17.742188 Z M 70.359375 17.742188 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 79.058594 23.675781 L 75.554688 23.675781 L 74.839844 25.738281 L 73.359375 25.738281 L 76.722656 16.496094 L 77.890625 16.496094 L 81.253906 25.738281 L 79.773438 25.738281 Z M 78.652344 22.429688 L 77.316406 18.390625 L 77.292969 18.390625 L 75.957031 22.429688 Z M 78.652344 22.429688 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 85.351562 16.496094 L 91.257812 16.496094 L 91.257812 17.820312 L 86.753906 17.820312 L 86.753906 20.453125 L 90.597656 20.453125 L 90.597656 21.699219 L 86.753906 21.699219 L 86.753906 24.410156 L 91.257812 24.410156 L 91.257812 25.734375 L 85.351562 25.734375 Z M 85.351562 16.496094 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 92.570312 16.496094 L 98.476562 16.496094 L 98.476562 17.820312 L 93.972656 17.820312 L 93.972656 20.453125 L 97.8125 20.453125 L 97.8125 21.699219 L 93.972656 21.699219 L 93.972656 24.410156 L 98.476562 24.410156 L 98.476562 25.734375 L 92.570312 25.734375 Z M 92.570312 16.496094 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 27.996094 1.257812 L 21.285156 8.605469 C 21.207031 12.332031 20.300781 17.941406 16.347656 23.066406 L 22.1875 24.527344 C 31.925781 15.355469 27.996094 1.257812 27.996094 1.257812 Z M 27.996094 1.257812 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 21.285156 8.605469 C 21.34375 6.035156 21.003906 4.359375 21.003906 4.359375 L 6.195312 20.570312 L 16.320312 23.101562 C 16.328125 23.089844 16.339844 23.078125 16.347656 23.066406 L 9.613281 21.386719 Z M 21.285156 8.605469 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 9.613281 21.386719 L 16.347656 23.066406 C 20.300781 17.941406 21.207031 12.332031 21.285156 8.605469 Z M 9.613281 21.386719 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 18.980469 24.753906 C 19.566406 24.753906 20.140625 24.78125 20.707031 24.835938 L 1.609375 20.121094 C 1.609375 20.121094 5.160156 21.300781 9.457031 27.722656 C 11.726562 25.90625 15.148438 24.753906 18.980469 24.753906 Z M 18.980469 24.753906 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 80.117188 16.515625 C 80.117188 16.496094 80.128906 16.484375 80.148438 16.484375 L 81.21875 16.484375 C 81.242188 16.484375 81.253906 16.496094 81.253906 16.515625 L 81.253906 16.664062 C 81.253906 16.683594 81.242188 16.695312 81.222656 16.695312 L 80.859375 16.695312 C 80.84375 16.695312 80.835938 16.699219 80.835938 16.710938 L 80.835938 17.871094 C 80.835938 17.890625 80.824219 17.902344 80.808594 17.902344 L 80.578125 17.902344 C 80.5625 17.902344 80.554688 17.894531 80.554688 17.875 L 80.554688 16.714844 C 80.554688 16.703125 80.546875 16.695312 80.53125 16.695312 L 80.144531 16.695312 C 80.125 16.695312 80.117188 16.683594 80.117188 16.664062 Z M 81.457031 17.890625 C 81.449219 17.882812 81.449219 17.875 81.449219 17.863281 L 81.449219 16.519531 C 81.449219 16.496094 81.457031 16.484375 81.476562 16.484375 L 81.800781 16.484375 C 81.8125 16.484375 81.824219 16.484375 81.828125 16.488281 C 81.835938 16.492188 81.839844 16.503906 81.84375 16.511719 L 82.179688 17.414062 C 82.1875 17.433594 82.195312 17.433594 82.207031 17.410156 L 82.53125 16.519531 C 82.539062 16.496094 82.550781 16.484375 82.566406 16.484375 L 82.902344 16.484375 C 82.921875 16.484375 82.929688 16.492188 82.929688 16.515625 L 82.929688 17.863281 C 82.929688 17.875 82.925781 17.886719 82.917969 17.890625 C 82.910156 17.898438 82.902344 17.902344 82.886719 17.902344 L 82.683594 17.902344 C 82.671875 17.902344 82.660156 17.898438 82.652344 17.894531 C 82.648438 17.886719 82.644531 17.878906 82.644531 17.867188 L 82.644531 16.867188 C 82.644531 16.859375 82.644531 16.855469 82.640625 16.855469 C 82.636719 16.855469 82.636719 16.859375 82.632812 16.867188 L 82.269531 17.875 C 82.261719 17.890625 82.25 17.902344 82.230469 17.902344 L 82.09375 17.902344 C 82.074219 17.902344 82.058594 17.890625 82.054688 17.875 L 81.695312 16.878906 C 81.691406 16.871094 81.6875 16.867188 81.683594 16.867188 C 81.679688 16.867188 81.679688 16.875 81.679688 16.882812 L 81.679688 17.871094 C 81.679688 17.878906 81.675781 17.886719 81.671875 17.890625 C 81.667969 17.898438 81.65625 17.898438 81.644531 17.898438 L 81.480469 17.898438 C 81.472656 17.902344 81.464844 17.898438 81.457031 17.890625 Z M 81.457031 17.890625 "
          ></path>
        </g>
      </svg>
      <!--Angular-->
      <svg
        width="30"
        height="32"
        viewBox="0 0 30 32"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        class="dark:hover:fill-white"
        version="1.1"
      >
        <path d="M12.2871 16.864H14.9998H17.7126L14.9998 10.32L12.2871 16.864Z"
        ></path>
        <path
          d="M14.9999 0L0.143509 5.312L2.40947 25.008L14.9999 32L27.5903 25.008L29.8563 5.312L14.9999 0ZM24.2712 24.416H20.8084L18.9414 19.744H14.9999H11.0584L9.19138 24.416H5.72862L14.9999 3.536L24.2712 24.416Z"
        ></path>
      </svg>
      <!--React-->
      <svg
        width="34"
        height="32"
        viewBox="0 0 34 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        version="1.1"
      >
        <path
          d="M16.7932 19.222C18.4546 19.222 19.8014 17.8752 19.8014 16.2138C19.8014 14.5524 18.4546 13.2056 16.7932 13.2056C15.1318 13.2056 13.7849 14.5524 13.7849 16.2138C13.7849 17.8752 15.1318 19.222 16.7932 19.222Z"
          fill="currentColor"></path>
        <path
          d="M16.7932 22.9823C25.1002 22.9823 31.8343 19.9519 31.8343 16.2138C31.8343 12.4757 25.1002 9.44531 16.7932 9.44531C8.48621 9.44531 1.75208 12.4757 1.75208 16.2138C1.75208 19.9519 8.48621 22.9823 16.7932 22.9823Z"
          stroke="currentColor"
          stroke-width="1.50411"></path>
        <path
          d="M10.932 19.5982C15.0855 26.7922 21.0769 31.109 24.3143 29.2399C27.5516 27.3708 26.8089 20.0237 22.6554 12.8297C18.5019 5.63564 12.5105 1.31889 9.27315 3.18796C6.03583 5.05703 6.77853 12.4041 10.932 19.5982Z"
          stroke="currentColor"
          stroke-width="1.50411"></path>
        <path
          d="M10.932 12.8296C6.77851 20.0237 6.03582 27.3708 9.27314 29.2399C12.5105 31.1089 18.5019 26.7922 22.6554 19.5981C26.8089 12.4041 27.5516 5.05696 24.3142 3.18789C21.0769 1.31883 15.0855 5.63558 10.932 12.8296Z"
          stroke="currentColor"
          stroke-width="1.50411"></path>
      </svg>
      <!--Next js-->
      <svg
        width="66"
        height="32"
        viewBox="0 0 66 32"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        class="dark:hover:fill-white"
        version="1.1"
      >
        <path
          d="M43.4564 9.00549H54.8429V11.1071H50.326V22.1636H48.0674V11.1071H43.4564V9.00549Z"
        ></path>
        <path
          d="M24.7296 9.00537V11.107H15.6026V14.4879H22.9425V16.5895H15.6026V20.0618H24.7296V22.1635H13.3441V11.107H13.3432V9.00537H24.7296Z"
        ></path>
        <path
          d="M30.4152 9.01099H27.4596L38.046 22.1691H41.0103L35.7164 15.5946L41.0018 9.02103L38.046 9.02559L34.2366 13.7568L30.4152 9.01099Z"
        ></path>
        <path
          d="M33.4487 18.4099L31.9686 16.5696L27.4517 22.1791H30.4158L33.4487 18.4099Z"
        ></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M13.4237 22.1636L2.82307 9H0V22.1581H2.25846V11.8125L10.5865 22.1636H13.4237Z"
        ></path>
        <path
          d="M55.3504 22.0832C55.185 22.0832 55.0443 22.0259 54.9265 21.9113C54.8087 21.7967 54.7505 21.658 54.752 21.4936C54.7505 21.3338 54.8087 21.1965 54.9265 21.0819C55.0443 20.9673 55.185 20.91 55.3504 20.91C55.5096 20.91 55.6488 20.9673 55.7666 21.0819C55.886 21.1965 55.9456 21.3338 55.9472 21.4936C55.9456 21.6022 55.918 21.7017 55.863 21.7906C55.8064 21.8811 55.7345 21.952 55.6441 22.0033C55.5553 22.0561 55.4575 22.0832 55.3504 22.0832Z"
        ></path>
        <path
          d="M59.2051 16.54H60.2059V20.3958C60.2044 20.7502 60.1278 21.0533 59.9779 21.3081C59.8265 21.5629 59.6168 21.7574 59.3475 21.8947C59.0797 22.0304 58.7659 22.0998 58.4094 22.0998C58.0834 22.0998 57.7912 22.0409 57.531 21.9263C57.2709 21.8117 57.0643 21.6398 56.9128 21.4136C56.7597 21.1874 56.6847 20.9055 56.6847 20.5677H57.6872C57.6887 20.7155 57.7223 20.8436 57.7865 20.9507C57.8508 21.0578 57.9395 21.1392 58.0528 21.1965C58.1675 21.2538 58.2992 21.2825 58.4475 21.2825C58.6083 21.2825 58.746 21.2493 58.8577 21.1814C58.9694 21.1151 59.0551 21.0155 59.1149 20.8828C59.1729 20.7517 59.2036 20.5888 59.2051 20.3958V16.54Z"
        ></path>
        <path
          d="M64.3239 18.048C64.2995 17.8143 64.1923 17.6318 64.0057 17.5021C63.8174 17.3709 63.5741 17.3061 63.2757 17.3061C63.0661 17.3061 62.8856 17.3378 62.7356 17.3996C62.5856 17.4629 62.4693 17.5474 62.3897 17.6544C62.3102 17.7615 62.2704 17.8836 62.2672 18.0209C62.2672 18.1355 62.2948 18.235 62.3484 18.3179C62.4019 18.4024 62.4738 18.4732 62.5672 18.5305C62.6589 18.5893 62.7615 18.6376 62.8733 18.6768C62.9865 18.716 63.0998 18.7492 63.2129 18.7763L63.7347 18.9045C63.9445 18.9527 64.148 19.0176 64.3423 19.1005C64.5366 19.182 64.7126 19.286 64.8671 19.4112C65.0217 19.5363 65.1442 19.6871 65.2344 19.8635C65.3247 20.04 65.3707 20.2465 65.3707 20.4848C65.3707 20.806 65.288 21.088 65.1211 21.3322C64.9544 21.575 64.7141 21.765 64.3989 21.9022C64.0852 22.038 63.7057 22.1073 63.2589 22.1073C62.8273 22.1073 62.4509 22.041 62.1342 21.9083C61.8159 21.7771 61.5679 21.5841 61.3889 21.3307C61.2098 21.0774 61.1134 20.7683 61.0997 20.4049H62.0913C62.1051 20.5949 62.1663 20.7532 62.2704 20.8814C62.3759 21.008 62.5136 21.1015 62.682 21.1649C62.8519 21.2267 63.0415 21.2584 63.2513 21.2584C63.4701 21.2584 63.6629 21.2252 63.8296 21.1603C63.9949 21.0955 64.125 21.005 64.2184 20.8874C64.3133 20.7713 64.3607 20.6341 64.3622 20.4773C64.3607 20.334 64.3178 20.2149 64.2351 20.1214C64.151 20.0279 64.0347 19.9495 63.8862 19.8862C63.7364 19.8228 63.5619 19.7655 63.3629 19.7158L62.7295 19.5559C62.2719 19.4398 61.9092 19.2634 61.6444 19.0266C61.3782 18.7899 61.2465 18.4763 61.2465 18.0827C61.2465 17.76 61.3353 17.4765 61.5145 17.2337C61.6918 16.991 61.9352 16.8025 62.2428 16.6683C62.5519 16.5326 62.9008 16.4662 63.2894 16.4662C63.6843 16.4662 64.0301 16.5326 64.3286 16.6683C64.6269 16.8025 64.8611 16.9895 65.0309 17.2277C65.2008 17.4659 65.2895 17.7389 65.2942 18.048H64.3239Z"
        ></path>
      </svg>
      <!--Astro-->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="110px"
        height="29px"
        viewBox="0 0 110 29"
        fill="currentColor"
        class="dark:hover:fill-white"
        version="1.1"
      >
        <g id="surface1">
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 7.597656 24.539062 C 6.296875 23.347656 5.917969 20.847656 6.460938 19.039062 C 7.398438 20.179688 8.699219 20.542969 10.042969 20.746094 C 12.125 21.058594 14.164062 20.941406 16.097656 19.992188 C 16.316406 19.882812 16.523438 19.738281 16.761719 19.589844 C 16.945312 20.117188 16.992188 20.648438 16.929688 21.191406 C 16.773438 22.507812 16.121094 23.527344 15.078125 24.296875 C 14.660156 24.605469 14.222656 24.882812 13.792969 25.175781 C 12.46875 26.070312 12.113281 27.117188 12.609375 28.644531 C 12.621094 28.679688 12.632812 28.71875 12.65625 28.808594 C 11.984375 28.507812 11.492188 28.066406 11.117188 27.488281 C 10.71875 26.875 10.53125 26.199219 10.519531 25.46875 C 10.515625 25.113281 10.515625 24.753906 10.46875 24.402344 C 10.351562 23.546875 9.949219 23.164062 9.195312 23.140625 C 8.417969 23.117188 7.804688 23.597656 7.644531 24.355469 C 7.632812 24.414062 7.613281 24.46875 7.59375 24.539062 Z M 7.597656 24.539062 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 0.183594 18.734375 C 0.183594 18.734375 4.027344 16.859375 7.886719 16.859375 L 10.792969 7.839844 C 10.902344 7.40625 11.222656 7.109375 11.578125 7.109375 C 11.9375 7.109375 12.257812 7.40625 12.367188 7.839844 L 15.273438 16.859375 C 19.839844 16.859375 22.976562 18.734375 22.976562 18.734375 C 22.976562 18.734375 16.445312 0.902344 16.429688 0.867188 C 16.242188 0.339844 15.925781 0 15.5 0 L 7.660156 0 C 7.234375 0 6.929688 0.339844 6.730469 0.867188 C 6.714844 0.902344 0.183594 18.734375 0.183594 18.734375 Z M 0.183594 18.734375 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 40.734375 16.140625 C 40.734375 17.71875 38.773438 18.664062 36.058594 18.664062 C 34.289062 18.664062 33.664062 18.222656 33.664062 17.300781 C 33.664062 16.335938 34.441406 15.875 36.207031 15.875 C 37.804688 15.875 39.160156 15.898438 40.734375 16.09375 Z M 40.757812 14.1875 C 39.789062 13.964844 38.320312 13.835938 36.574219 13.835938 C 31.488281 13.835938 29.09375 15.042969 29.09375 17.851562 C 29.09375 20.769531 30.734375 21.890625 34.527344 21.890625 C 37.738281 21.890625 39.917969 21.078125 40.714844 19.082031 L 40.84375 19.082031 C 40.820312 19.5625 40.800781 20.046875 40.800781 20.417969 C 40.800781 21.449219 40.972656 21.539062 41.8125 21.539062 L 45.78125 21.539062 C 45.566406 20.921875 45.433594 19.191406 45.433594 17.699219 C 45.433594 16.09375 45.5 14.886719 45.5 13.265625 C 45.5 9.949219 43.515625 7.84375 37.308594 7.84375 C 34.636719 7.84375 31.660156 8.304688 29.394531 8.984375 C 29.613281 9.882812 29.914062 11.707031 30.066406 12.890625 C 32.027344 11.96875 34.808594 11.574219 36.964844 11.574219 C 39.9375 11.574219 40.757812 12.253906 40.757812 13.636719 Z M 40.757812 14.1875 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 51.640625 17.0625 C 51.101562 17.125 50.367188 17.125 49.613281 17.125 C 48.816406 17.125 48.082031 17.105469 47.589844 17.039062 C 47.589844 17.214844 47.566406 17.414062 47.566406 17.585938 C 47.566406 20.332031 49.355469 21.933594 55.652344 21.933594 C 61.578125 21.933594 63.496094 20.351562 63.496094 17.566406 C 63.496094 14.933594 62.226562 13.636719 56.597656 13.351562 C 52.222656 13.152344 51.835938 12.671875 51.835938 12.121094 C 51.835938 11.484375 52.394531 11.15625 55.328125 11.15625 C 58.367188 11.15625 59.1875 11.574219 59.1875 12.453125 L 59.1875 12.648438 C 59.617188 12.628906 60.394531 12.605469 61.191406 12.605469 C 61.945312 12.605469 62.765625 12.628906 63.238281 12.671875 C 63.238281 12.472656 63.261719 12.296875 63.261719 12.144531 C 63.261719 8.917969 60.585938 7.863281 55.414062 7.863281 C 49.59375 7.863281 47.632812 9.292969 47.632812 12.078125 C 47.632812 14.582031 49.203125 16.140625 54.789062 16.378906 C 58.90625 16.511719 59.359375 16.972656 59.359375 17.609375 C 59.359375 18.289062 58.691406 18.597656 55.800781 18.597656 C 52.480469 18.597656 51.640625 18.136719 51.640625 17.191406 Z M 51.640625 17.0625 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 70.613281 5.496094 C 69.039062 6.964844 66.214844 8.433594 64.640625 8.832031 C 64.664062 9.640625 64.664062 11.136719 64.664062 11.945312 L 66.105469 11.96875 C 66.085938 13.527344 66.0625 15.414062 66.0625 16.664062 C 66.0625 19.585938 67.59375 21.78125 72.359375 21.78125 C 74.363281 21.78125 75.699219 21.558594 77.359375 21.210938 C 77.1875 20.132812 76.992188 18.488281 76.929688 17.238281 C 75.9375 17.566406 74.6875 17.742188 73.308594 17.742188 C 71.386719 17.742188 70.613281 17.214844 70.613281 15.699219 C 70.613281 14.382812 70.613281 13.152344 70.632812 12.011719 C 73.09375 12.035156 75.550781 12.078125 76.992188 12.121094 C 76.972656 10.980469 77.015625 9.335938 77.078125 8.238281 C 74.988281 8.28125 72.640625 8.304688 70.699219 8.304688 C 70.71875 7.339844 70.742188 6.417969 70.761719 5.496094 Z M 70.613281 5.496094 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 83.488281 11.289062 C 83.507812 10.148438 83.53125 9.179688 83.554688 8.238281 L 79.21875 8.238281 C 79.285156 10.125 79.285156 12.058594 79.285156 14.886719 C 79.285156 17.71875 79.261719 19.671875 79.21875 21.539062 L 84.179688 21.539062 C 84.089844 20.222656 84.070312 18.003906 84.070312 16.117188 C 84.070312 13.132812 85.277344 12.277344 88.015625 12.277344 C 89.289062 12.277344 90.191406 12.429688 90.988281 12.714844 C 91.011719 11.597656 91.226562 9.421875 91.355469 8.457031 C 90.539062 8.214844 89.632812 8.0625 88.53125 8.0625 C 86.183594 8.039062 84.457031 9.007812 83.660156 11.3125 Z M 83.488281 11.289062 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
            d="M 105.074219 14.800781 C 105.074219 17.191406 103.347656 18.3125 100.632812 18.3125 C 97.9375 18.3125 96.210938 17.257812 96.210938 14.800781 C 96.210938 12.34375 97.957031 11.421875 100.632812 11.421875 C 103.328125 11.421875 105.074219 12.40625 105.074219 14.800781 Z M 109.578125 14.691406 C 109.578125 9.929688 105.871094 7.800781 100.632812 7.800781 C 95.371094 7.800781 91.792969 9.929688 91.792969 14.691406 C 91.792969 19.429688 95.136719 21.976562 100.609375 21.976562 C 106.128906 21.976562 109.578125 19.429688 109.578125 14.691406 Z M 109.578125 14.691406 "
          ></path>
        </g>
      </svg>
      <!--Github-->
      <svg
        width="71"
        height="32"
        viewBox="0 0 71 32"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        class="dark:hover:fill-white"
        version="1.1"
        ><path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M3.61475 8.4471C5.47217 6.86666 7.83129 5.99919 10.2697 6C12.7059 6.00161 15.0622 6.86981 16.9173 8.44943C18.7724 10.0291 20.0056 12.2172 20.3964 14.6227C20.7871 17.0281 20.31 19.4943 19.0503 21.5802C17.7906 23.6662 15.8305 25.2361 13.5201 26.0093C12.9999 26.1113 12.8163 25.7899 12.8163 25.5178C12.8163 25.4056 12.8177 25.2088 12.8194 24.9457C12.8229 24.4156 12.8282 23.6165 12.8282 22.6982C12.8282 21.7408 12.5001 21.1149 12.1312 20.7969C14.4177 20.5435 16.8181 19.6745 16.8181 15.7291C16.8339 14.7091 16.4557 13.7223 15.7624 12.9742C15.8695 12.7123 16.2197 11.6681 15.6621 10.2532C15.6621 10.2532 14.8002 9.97771 12.8418 11.3059C11.1586 10.8456 9.38263 10.8456 7.69934 11.3059C5.73754 9.97771 4.87564 10.2532 4.87564 10.2532C4.31804 11.6698 4.66994 12.714 4.77704 12.9742C4.08312 13.722 3.70435 14.7089 3.71964 15.7291C3.71964 19.6643 6.11664 20.5452 8.39634 20.8054C8.10224 21.0622 7.83704 21.5146 7.74524 22.1778C7.15874 22.4448 5.67294 22.8989 4.75664 21.3275C4.75664 21.3275 4.21434 20.3429 3.18414 20.2697C3.18414 20.2697 2.18114 20.2561 3.11274 20.8939C3.11274 20.8939 3.78594 21.2068 4.25344 22.3972C4.25344 22.3972 4.85524 24.2304 7.71124 23.608C7.71375 24.031 7.71709 24.4421 7.71983 24.7796C7.72265 25.1273 7.72484 25.3969 7.72484 25.5212C7.72484 25.7916 7.53444 26.1096 7.02444 26.0144C4.71076 25.2441 2.7467 23.6751 1.48391 21.5884C0.221113 19.5017 -0.257956 17.0334 0.132472 14.6256C0.522899 12.2177 1.75733 10.0275 3.61475 8.4471ZM34.1076 10.3844C33.7518 10.21 32.8492 9.89403 31.0848 9.89403C28.5709 9.89403 25.992 10.9635 25.992 16.1053C25.992 21.2471 28.9445 22.0133 31.4325 22.0133C33.383 22.0133 34.607 21.2242 34.7317 21.1402L34.7384 21.1357L34.7422 21.133C34.7937 21.1045 34.7993 21.0325 34.7993 20.9996V15.2572C34.7993 15.16 34.7206 15.0811 34.6234 15.0811H30.8576C30.7604 15.0811 30.6817 15.16 30.6817 15.2572V17.0983C30.6817 17.1955 30.7604 17.2746 30.8576 17.2746H32.3266V19.5621C32.3266 19.5621 31.9968 19.6746 31.0848 19.6746C30.0089 19.6746 28.5059 19.2814 28.5059 15.9764C28.5059 12.6706 30.071 12.2357 31.5403 12.2357C32.6844 12.2357 33.2427 12.4169 33.5971 12.5319C33.6367 12.5447 33.6738 12.5567 33.7088 12.5676C33.8184 12.6012 33.9197 12.492 33.9197 12.3947L34.3397 10.6159C34.3397 10.5703 34.3243 10.5156 34.2726 10.4784C34.2485 10.4612 34.2034 10.433 34.1345 10.3979L34.1076 10.3844ZM57.5569 14.1608C57.5569 14.0628 57.4785 13.9832 57.3818 13.9832H55.2463C55.15 13.9832 55.071 14.0628 55.071 14.1608V19.2642C55.071 21.4709 56.3007 22.0108 57.9925 22.0108C59.3805 22.0108 60.4996 21.2439 60.4996 21.2439C60.4996 21.2439 60.5528 21.6481 60.5769 21.6959C60.601 21.7437 60.6638 21.7921 60.7317 21.7921L62.0903 21.786C62.1866 21.786 62.2656 21.7063 62.2656 21.6088L62.2648 14.1608C62.2648 14.0628 62.1863 13.9832 62.0893 13.9832H59.9852C59.8888 13.9832 59.8101 14.0628 59.8101 14.1608V19.601C59.8101 19.601 59.8086 19.6021 59.8056 19.6043C59.8032 19.606 59.7999 19.6083 59.7956 19.6112L59.7818 19.6204C59.6621 19.6993 59.1734 19.9922 58.5168 19.9922C57.7582 19.9922 57.5569 19.6479 57.5569 18.9052V14.1608ZM65.8323 10.5102C65.8323 10.4121 65.7539 10.3331 65.6574 10.3331H63.5309C63.4342 10.3331 63.3557 10.4121 63.3557 10.5102V21.6056C63.3557 21.7035 63.4342 21.783 63.5312 21.783H65.0065C65.073 21.783 65.1233 21.7488 65.1605 21.6889C65.1972 21.6292 65.25 21.1772 65.25 21.1772C65.25 21.1772 66.1195 22.0012 67.7654 22.0012C69.6979 22.0012 70.8061 21.021 70.8061 17.601C70.8061 14.1809 69.0361 13.734 67.8402 13.734C66.6452 13.734 65.8323 14.2671 65.8323 14.2671V10.5102ZM42.9742 11.8643C42.9742 11.7847 42.9332 11.745 42.8412 11.745H40.6738C40.5895 11.745 40.5443 11.7821 40.5443 11.8631V14.0345C40.5443 14.0345 39.4581 14.2968 39.3846 14.3178C39.3116 14.3391 39.2577 14.4065 39.2577 14.487V15.8515C39.2577 15.9497 39.3361 16.0288 39.433 16.0288H40.5443V19.3115C40.5443 21.7498 42.2546 21.9893 43.4086 21.9893C43.936 21.9893 44.5668 21.8198 44.671 21.7815C44.7339 21.7582 44.7705 21.693 44.7705 21.6222L44.7724 20.1212C44.7724 20.0234 44.6896 19.9441 44.5966 19.9441C44.5612 19.9441 44.5048 19.9496 44.435 19.9564C44.3219 19.9674 44.1736 19.9819 44.0226 19.9819C43.2412 19.9819 42.9766 19.6186 42.9766 19.1484V19.1317L42.9765 16.0288H44.5672C44.6641 16.0288 44.7426 15.9497 44.7426 15.8515V14.1424C44.7426 14.0444 44.6641 13.9656 44.5672 13.9656H42.9766L42.9766 13.9641L42.9765 13.8559L42.9765 13.8317L42.9764 13.7471L42.9763 13.7152L42.9762 13.6464L42.9762 13.6096L42.9761 13.532L42.976 13.4065L42.9759 13.3178L42.9757 13.1792L42.9756 13.0842L42.9752 12.7461L42.9751 12.651L42.975 12.5124L42.9749 12.4237L42.9747 12.2982L42.9746 12.2206L42.9746 12.1838L42.9745 12.115L42.9745 12.0831L42.9744 11.9984L42.9744 11.9742L42.9742 11.8643ZM48.2555 10.5102C48.2555 10.4121 48.1776 10.3331 48.0806 10.3331H45.9603C45.8639 10.3331 45.7851 10.4121 45.7851 10.5102V21.6056C45.7851 21.7035 45.8639 21.783 45.9603 21.783H48.0806C48.1776 21.783 48.2555 21.7035 48.2555 21.6056V16.8596H51.5607L51.5607 16.861L51.5606 16.9458L51.5606 16.968L51.5605 17.0482L51.5604 17.0793L51.5604 17.1479L51.5602 17.2655L51.5601 17.3531L51.5579 19.1612L51.5577 19.3036L51.5576 19.3747L51.5574 19.5166L51.5555 21.1118L51.5554 21.1995L51.5552 21.3171L51.5551 21.3857L51.5551 21.4168L51.555 21.4971L51.555 21.5192L51.5549 21.6056C51.5549 21.7035 51.6335 21.783 51.7306 21.783H53.8559C53.9531 21.783 54.0307 21.7035 54.031 21.6056V10.5102C54.031 10.4121 53.9533 10.3331 53.856 10.3331H51.7357C51.6389 10.3331 51.5601 10.4121 51.5601 10.5102L51.5602 11.2942L51.5602 11.3443L51.5603 12.1317L51.5603 12.1921L51.5605 12.9261L51.5605 12.9865L51.5606 13.7739L51.5606 13.824L51.5607 14.6066V14.6078H48.2555V10.5102ZM38.4731 14.1434C38.4731 14.0461 38.3946 13.9665 38.2977 13.9665H36.1839C36.087 13.9665 36.0003 14.0666 36.0003 14.1638V21.5017C36.0003 21.7173 36.1346 21.7815 36.3084 21.7815H38.2128C38.4218 21.7815 38.4731 21.6788 38.4731 21.4982V14.1434ZM66.873 15.7655C67.6307 15.6976 68.3608 15.9265 68.3608 17.7341C68.3608 19.6401 68.0313 20.0162 67.0103 19.9855C66.2805 19.9633 65.7854 19.632 65.7854 19.632V16.1184C65.7854 16.1184 66.2738 15.819 66.873 15.7655ZM38.6246 11.966C38.6246 11.2026 38.0126 10.5856 37.2574 10.5856C36.5029 10.5856 35.8903 11.2026 35.8903 11.966C35.8903 12.7288 36.5029 13.3476 37.2574 13.3476C38.0126 13.3476 38.6246 12.7288 38.6246 11.966Z"
        ></path></svg
      >
      <!--Bitcucket-->
      <svg
        viewBox="0 0 137 32"
        height="32"
        xmlns="http://www.w3.org/2000/svg"
        focusable="false"
        aria-hidden="true"
        class="dark:hover:fill-white"
        version="1.1"
      >
        <defs>
          <linearGradient
            x1="100.866322%"
            y1="25.6261254%"
            x2="46.5685299%"
            y2="75.2076031%"
            id="uid19"
          >
            <stop stop-color="currentcolor" offset="0%"></stop>
            <stop stop-color="currentcolor" offset="100%"></stop>
          </linearGradient>
        </defs>
        <g stroke="none" stroke-width="1" fill-rule="evenodd">
          <path
            d="M22.38125,13.1176316 L15.3425,13.1176316 L14.16125,20.0504386 L9.28624997,20.0504386 L3.52999997,26.9266667 C3.71244766,27.0853527 3.94506033,27.173594 4.18624997,27.175614 L19.46375,27.175614 C19.8352946,27.180424 20.1543287,26.9108682 20.21375,26.5419298 L22.38125,13.1176316 Z"
            fill="url(#uid19)"
            fill-rule="nonzero"></path>
          <path
            fill="currentcolor"
            fill-rule="nonzero"
            d="M0.759678147,6 C0.53811485,5.99712567 0.326627812,6.09294508 0.181948325,6.26175474 C0.0372688368,6.4305644 -0.0257933559,6.65508453 0.00967814748,6.87508772 L3.19342815,26.315614 C3.23255884,26.5521357 3.35340224,26.7671859 3.53467815,26.9228947 L3.53467815,26.9228947 C3.71712584,27.0815808 3.94973851,27.169822 4.19092815,27.1718421 L10.1009281,20.0504386 L9.27217815,20.0504386 L7.97092815,13.1176316 L22.3859281,13.1176316 L23.3984281,6.88263158 C23.4360238,6.66342534 23.375521,6.43870373 23.2330921,6.26853487 C23.0906632,6.09836602 22.880829,6.00009878 22.6596781,6 L0.759678147,6 Z"
          ></path>
          <path
            fill="currentcolor"
            d="M32,8.352 L38.63,8.352 C42.114,8.352 43.804,10.068 43.804,12.824 C43.804,14.878 42.868,16.152 40.944,16.62 C43.466,17.036 44.714,18.414 44.714,20.832 C44.714,23.562 42.868,25.434 39.046,25.434 L32,25.434 L32,8.352 Z M38.318,10.588 L34.34,10.588 L34.34,15.684 L38.318,15.684 C40.528,15.684 41.438,14.67 41.438,13.032 C41.438,11.368 40.45,10.588 38.318,10.588 Z M39.072,17.764 L34.34,17.764 L34.34,23.094 L39.124,23.094 C41.36,23.094 42.374,22.288 42.374,20.572 C42.374,18.752 41.412,17.764 39.072,17.764 Z M47.236,9.002 C47.236,9.99 47.886,10.562 48.796,10.562 C49.706,10.562 50.356,9.99 50.356,9.002 C50.356,8.014 49.706,7.442 48.796,7.442 C47.886,7.442 47.236,8.014 47.236,9.002 Z M47.652,25.434 L49.888,25.434 L49.888,12.434 L47.652,12.434 L47.652,25.434 Z M56.362,21.326 L56.362,14.514 L59.82,14.514 L59.82,12.434 L56.362,12.434 L56.362,9.678 L54.178,9.678 L54.178,12.434 L52.072,12.434 L52.072,14.514 L54.178,14.514 L54.178,21.378 C54.178,23.796 55.53,25.434 58.312,25.434 C58.988,25.434 59.43,25.33 59.82,25.226 L59.82,23.068 C59.43,23.146 58.936,23.25 58.416,23.25 C57.038,23.25 56.362,22.47 56.362,21.326 Z M74.51,18.934 C74.51,22.6 72.69,25.694 69.05,25.694 C67.152,25.694 65.696,24.836 64.916,23.146 L64.916,25.434 L62.68,25.434 L62.68,7 L64.916,7 L64.916,14.774 C65.748,13.058 67.308,12.174 69.31,12.174 C72.768,12.174 74.51,15.112 74.51,18.934 Z M72.274,18.934 C72.274,15.814 71.026,14.254 68.712,14.254 C66.71,14.254 64.916,15.528 64.916,18.414 L64.916,19.454 C64.916,22.34 66.554,23.614 68.452,23.614 C70.974,23.614 72.274,21.95 72.274,18.934 Z M76.85,20.052 C76.85,23.64 78.566,25.694 81.556,25.694 C83.298,25.694 84.832,24.836 85.664,23.302 L85.664,25.434 L87.9,25.434 L87.9,12.434 L85.664,12.434 L85.664,19.662 C85.664,22.288 84.234,23.666 82.154,23.666 C80.022,23.666 79.086,22.626 79.086,20.286 L79.086,12.434 L76.85,12.434 L76.85,20.052 Z M100.458,23.094 C99.652,23.38 98.82,23.562 97.494,23.562 C94.088,23.562 92.684,21.43 92.684,18.908 C92.684,16.386 94.062,14.254 97.442,14.254 C98.664,14.254 99.548,14.488 100.38,14.878 L100.38,12.798 C99.366,12.33 98.456,12.174 97.286,12.174 C92.658,12.174 90.5,14.982 90.5,18.908 C90.5,22.886 92.658,25.694 97.286,25.694 C98.482,25.694 99.678,25.512 100.458,25.096 L100.458,23.094 Z M105.242,25.434 L105.242,19.35 L110.962,25.434 L114.004,25.434 L107.634,18.83 L113.744,12.434 L110.832,12.434 L105.242,18.518 L105.242,7 L103.006,7 L103.006,25.434 L105.242,25.434 Z M126.224,24.914 C125.158,25.486 123.52,25.694 122.194,25.694 C117.332,25.694 115.2,22.886 115.2,18.908 C115.2,14.982 117.384,12.174 121.336,12.174 C125.34,12.174 126.952,14.956 126.952,18.908 L126.952,19.922 L117.462,19.922 C117.774,22.132 119.204,23.562 122.272,23.562 C123.78,23.562 125.054,23.276 126.224,22.86 L126.224,24.914 Z M121.232,14.202 C118.866,14.202 117.67,15.736 117.436,17.998 L124.69,17.998 C124.56,15.58 123.468,14.202 121.232,14.202 Z M132.698,21.326 L132.698,14.514 L136.156,14.514 L136.156,12.434 L132.698,12.434 L132.698,9.678 L130.514,9.678 L130.514,12.434 L128.408,12.434 L128.408,14.514 L130.514,14.514 L130.514,21.378 C130.514,23.796 131.866,25.434 134.648,25.434 C135.324,25.434 135.766,25.33 136.156,25.226 L136.156,23.068 C135.766,23.146 135.272,23.25 134.752,23.25 C133.374,23.25 132.698,22.47 132.698,21.326 Z"
          ></path>
        </g>
      </svg>
    </div>
  </div>
</section>

<style>
  :is(.dark .dark\:animated-border-dark) {
    background-image: conic-gradient(
        from var(--border-angle),
        #10151d,
        #10151d 50%,
        #10151d
      ),
      conic-gradient(
        from var(--border-angle),
        transparent 20%,
        rgb(249, 115, 22),
        rgb(251, 191, 36)
      );
  }

  .animated-border {
    --border-size: 1px;
    --border-angle: 0turn;
    background-image: conic-gradient(
        from var(--border-angle),
        #fff,
        #fff 50%,
        #fff
      ),
      conic-gradient(
        from var(--border-angle),
        transparent 20%,
        rgb(249, 115, 22),
        rgb(251, 191, 36)
      );
    background-size:
      calc(100% - (var(--border-size) * 2))
        calc(100% - (var(--border-size) * 2)),
      cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: bg-spin 1s linear infinite;
  }

  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

  .animated-border:hover {
    animation-play-state: paused;
  }

  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }

  .text-gradient {
    background-image: linear-gradient(
      45deg,
      rgb(251, 191, 36),
      rgb(249, 115, 22) 30%,
      white 60%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
